@import "config";
* {
  box-sizing: border-box;
}
body {
  /* fallback for old browsers */
  margin: 0;
  padding: 0;
  background: $secondary-color;
  background-repeat: no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header {
  width: 100%;
  background-color: $bg-header;
}
.navbar {
  padding: 10px;
  @include flexbox(row, space-between, center, 0, wrap);

  width: 100%;
  &-brand {
    margin: 0;
    padding: 0;
    font-size: 25px;
    @each $property, $value in $text-gradient-styles {
      #{$property}: #{$value};
    }
    span {
      margin-left: -5.5px;
    }
    .style-2 {
      font-family: "Cinzel Decorative", system-ui;
      margin: 0;
    }
  }

  &-nav .nav-link.active {
    color: $primary-color;
  }
  &-nav .nav-link {
    color: $tertiary-color;
    display: flex;
    align-items: center;
    &:hover {
      color: $primary-color;
    }
    span {
      font-size: 16px;
      margin-left: 5px;
    }
  }
  &-toggler {
    border-color: $border;
    @include flexbox(row, center, center, 0, wrap);
    &:active {
      border-color: $border;
    }
    i {
      color: $tertiary-color;
      font-size: 18px;
    }
  }
  &-collapse {
    flex-grow: 0;
  }
  &-nav {
    gap: 15px;
  }
  .cv {
    background-color: $border;
    color: $primary-color;
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      border-color: $border;
    }
  }
}

.hideMenuMobile {
  display: none;
}
section {
  min-height: 100vh;
}
.btn-outline {
  background-color: $secondary-color;
  color: $primary-color-darkend;
  border-color: $border;
  &:hover {
    background-color: $border;
    color: $primary-color;
  }
}
h2 {
  color: $primary-color;
  font-family: "Sirin Stencil", system-ui;
}
#home {
  position: relative;
  margin: 0;
  background-color: $bg-header;
  justify-content: center;
  align-items: center;
  img {
    width: 402px;
    height: 413px;
    object-fit: cover;
    border-radius: 50%;
  }

  p {
    color: $tertiary-color-darkend;
  }
}
.home {
  gap: 10px;
  position: relative;
  z-index: 9;
  hr {
    width: 35px;
    height: 2px;
    background-color: $tertiary-color;
  }
}

#particles-js {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

p {
  color: $tertiary-color-darkend;
  width: 75%;
}
.cards {
  width: 75%;
}
.card {
  background-color: inherit;
  border: 1px solid $border;
}

li {
  display: flex;
  align-items: stretch;
}
#about,
#skills,
#portfolio,
#contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#about {
  .row {
    justify-content: center;
    height: -3%;
    gap: 10px;
  }
  li {
    flex-grow: 1;
  }
  li article {
    @include flexbox(column, space-between, start, 10px, nowrap);
    min-height: 275px;
    flex-grow: 2;
  }

  article.card {
    height: 100%;
    flex-grow: 2;
  }
  h3 {
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: $tertiary-color;
    font-family: "roboto";
    font-size: 20px;
  }

  .school {
    color: $primary-color-darkend;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
  }

  .description {
    flex-grow: 1;
    width: 100%;
  }
}
#skills {
  background-color: $bg-header;
  .row {
    gap: 10px;
    height: auto;
  }
  .card {
    box-shadow: none;
    padding: 10px;
    @include flexbox(column, center, start, 10px, nowrap);
    transition: all 0.3s ease-out;
    &:hover {
      background-color: $primary-color-darkend;
    }
    &:hover p {
      color: $secondary-color;
    }
  }
  h3 {
    color: $tertiary-color;
    font-weight: normal;
    font-size: 20px;
  }
  li {
    background-color: $bg-card;
    padding-top: 16px;
    flex-grow: 1;
    p {
      width: 100%;
      flex-grow: 1;
    }
  }
}
#portfolio {
  ul {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  li {
    position: relative;
    width: 330px;
    height: 329px;
    flex: 1;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    &:hover div {
      bottom: 0%;
    }
  }
  .card-description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: $bg-hover;
    // top: 0;
    right: 0;
    left: 0;
    bottom: -100%;
    transition: bottom 500ms ease;
    @include flexbox(column, center, center, 10px, wrap);

    p {
      color: $tertiary-color;
      margin: 0;
      font-size: 14px;
    }
  }
  h3 {
    color: $secondary-color;
    margin: 0;
    font-size: 20px;
  }
  .btn {
    font-size: 13px;
  }
  .d-flex {
    gap: 5px;
  }
}
#contact {
  background-color: $bg-header;
  span {
    color: $tertiary-color-darkend;
  }
  ul {
    width: 75%;
  }
  hr {
    height: 3px;
    color: $primary-color-darkend;
  }
  article,
  li {
    justify-content: center;
  }
  .contact-description {
    font-size: 11px;
    color: #bfbfbf94;
  }
  a {
    color: $primary-color-darkend;
  }
  p,
  label,
  button {
    font-size: 14px;
  }
  form {
    background-color: $secondary-color;
    // height: 350px;
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-items: start;
  }
  label,
  input,
  textarea {
    color: $tertiary-color-darkend;
  }
  input,
  textarea {
    background-color: $bg-header;
    border: 1px solid $border;
  }
  button {
    margin-top: 20px;
    background-color: $primary-color-darkend;
    color: $secondary-color;
  }
}
footer {
  p {
    font-size: 12px;
  }
  .copy-right {
    font-size: 16px;
    padding-right: 20px;
  }
}
/* Lorsque le fond masqué est actif */
@keyframes hideMenu {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}
@media all and (max-width: 1200px) and (min-width: 767px) {
  #about {
    .cards,
    p {
      width: 90%;
    }
  }
  #skills,
  #portfolio,
  #contact {
    ul,
    p {
      width: 90%;
    }
  }
  #portfolio {
    li {
      flex: none;
    }
  }
}
@media all and (max-width: 767px) {
  .navbar-nav {
    height: 100vh;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .cv {
    font-size: 14px;
    padding: 5px 15px;
  }

  .slide-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: $secondary-color;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease;
    z-index: 2080;
  }

  /* Lorsque le menu est visible */
  .slide-menu.show {
    right: 0;
  }
  .slide-menu.hide {
    animation: hideMenu 0.5s ease forwards;
  }

  .hideMenuMobile {
    @include flexbox(row, space-between, center, 0, wrap);
    width: 30px;
    height: 30px;
    font-size: 25px;
    align-self: end;
    color: $tertiary-color;
    margin: 0;
  }
  #home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    img {
      width: 263px;
      height: 341px;
      border-radius: 0%;
    }

    .home {
      width: 260px;
    }
  }
  #about {
    .row {
      gap: 10px;
    }
    .cards,
    p {
      width: 95%;
    }
    li {
      padding: 0;
    }
  }
  #skills {
    margin: 50px 0;
    padding-bottom: 50px;
    ul {
      width: 95%;
    }
    p {
      width: 95%;
    }
  }
  #portfolio {
    ul {
      width: 95%;
    }
    p {
      width: 95%;
    }
    li {
      flex: none;
      flex-grow: 1;
    }
  }
  #contact {
    ul {
      width: 95%;
      padding: 0;
      margin: 0 auto;
      gap: 10px;
    }
    li {
      min-width: 350px;
      flex-grow: 1;
      padding: 0;
    }
    form {
      max-width: 100%;
      flex-grow: 1;
    }
    textarea {
      min-height: 150px;
    }
  }
  #about,
  #skills,
  #portfolio,
  #contact {
    padding-top: 50px;
  }
  #home p,
  #about p,
  #skills p {
    font-size: 14px;
  }
  #home h2,
  #about h2,
  #skills h2,
  #contact h2 {
    font-size: 23px;
  }
  #home h3,
  #about .title,
  #skills h3,
  #contact h3 {
    font-size: 18px;
  }
  #home a,
  #about .school {
    font-size: 14px;
  }
}
